@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thanks for suggesting " + Model.RestaurantName + "!";
}
@model Assign4.Models.Suggestions

    <div>
        <br />
        <h4>Click Below to See</h4>
        <a asp-action="SuggestedList">Restaurants you have suggested</a>
        <br />
        <br />
    </div>